{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>

<body>

    <!-- 중간에 들어갈 내용 -->
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <style type="text/css">
        @import url("{% static 'css/footer.css' %}");
    </style>

    <!--footer 하단고정 필요함-->
    <footer class="footer">
        <hr>
        <div class="footer_text">
            <ul class="footer_list">
                <li><a href="#">문의</a></li>
                <li>|</li>
                <li><a href="#">사이트 도움말</a></li>
                <li>|</li>
                <li><a href="#">건의</a></li>
            </ul>
            <p class="copy">© 2022 멋사강원대</p>
        </div>
    </footer>

</body>

</html>