{% extends 'footer.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>비회원</title>
        <link rel="stylesheet" href="{% static 'css/design.css' %}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="content">

            <h3>
                <label>비회원으로 이용</label>
            </h3>

            <form id="f_input">
                <input type="text" name="school" placeholder="학교"/><br>
                <input type="text" name="department" placeholder="학과"/><br>
                <input type="text" name="year" placeholder="입학년도"/>
            </form>

            <div class="btn_area">
                <button type="button">
                    <span>로그인</span>
                </button>
            </div>

            <span class="info">정말 비회원으로 사용하겠습니까?</span><br>
            <span class="info">비회원으로 이용시 저장은 불가능합니다.</span>
        </div>

        

    </body>
</html>
{% endblock %}
