
{% load static %}

{% block headcontent %}
<!--입력창 너무 지저분함 여기 해결방법 찾기-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        @import url("{% static 'css/header.css' %}");
        @import url("{% static 'css/footer.css' %}");
    </style>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
{% endblock %}

{% block content %}

<!-- header -->
<header class="header">
    <div class="header_wrapper">
        <div class="header_logo">
            <a href="{% url 'home' %}">
                <!--로고 누르면 어디로 가?-->
                <img src="{% static 'img/cal.png'%}" id="headr_img" />
                <h1 class="header_title">학점계산기</h1>
            </a>
        </div>
        <div class="header_inform">
            {% for pro in user.profile_set.all %}
            <label>{{ pro.name }} | </label>
            <label>{{ pro.major }} | </label>
            <label>{{ pro.ad_year }} </label>
            {% endfor %}
        </div>
        <!--여기 어떻게 할지 생각하기-->
        <nav class="header_fix">
            <ul>
                <li><a href="{% url 'logout' %}">로그아웃</a></li>
                <li style="color : #a8aabc">|</li>
                <li><a href="{% url 'modify' %}">정보수정</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="main">
    <div class="main_wrapper">
        <!-- 과목입력 form -->
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="add_border">
                <legend id="add_title">&nbsp;과목 입력&nbsp;</legend>
                <select id="adds_category" name="classkind">
                    <option disabled selected>과목 분류</option>
                    <option value="전공필수">전공필수</option>
                    <option value="전공선택">전공선택</option>
                    <option value="균형교양">균형교양</option>
                    <option value="기초교양">기초교양</option>
                    <option value="대학별교양">대학별교양</option>
                    <option value="특화교양">특화교양</option>
                    <option value="자유선택">자유선택</option>
                </select>
                <input type=text id="adds_class" name="classname" placeholder="과목명">
                <input type=number id="adds_num" name="classcredits" placeholder="학점">
                <button class="adds_button" type="submit">추가</button>
            </fieldset>
        </form>
        {% endif %}

        <div class="end">
            <div class="put">
                <h2 id="put_tit">입력된 과목</h2>
                <a id="put_reset" href="{% url 'delete_all' %}">&nbsp;✔초기화</a>
                <hr id="put_hr">
                <p class="put_plus">-추가버튼을 통해 내용이 입력됩니다</p>
                <button type="submit" class="result_button"
                    onclick="location.href = '{% url 'calculator' %}'">계산하기</button>

                <!--출력 될 내용 형식 (시작-->
                {% if user.lesson_set.all %}
                            
                <div class = "put_inform">             
                    <table class="put_tabel">
                            <tr>
                                <th>과목분류</th><th>과목명</th><th>학점</th><th>&#x2714;</th>
                            </tr>
                            {% for class in user.lesson_set.all %}
                            <tr>
                                <td>{{ class.classkind }}</td> 
                                <td>{{ class.classname }}</td>
                                <td>{{ class.classcredits }}</td>
                                <td><button class="put_butdel" onclick= "location.href = '{% url 'delete' class.id %}'">삭제</button></td>
                            </tr>
                            {% endfor %}
                    </table>
                    <br>
                </div>

                {% endif %}
                <br><br><br><br>
            </div>


            <div class='result'>
                <h2 id="result_tit">이수 학점</h2>
                <hr id="result_hr">
                {% for key,value in credits.items %}
                <!--입력되는 이수 학점 수 형식(시작)-->
                <div class="result_score">
                    <h3 class="score_tit">{{ key }}</h3>
                    <!--아래 내용 다 수정 부탁드려요-->
                    <p class="score_inf"><span id="score_now">{{ value.0 }}&nbsp;</span>/&nbsp;{{ value.1 }}</p>
                </div>
                <!--입력되는 이수 학점 수 형식(완료)-->
                {% endfor %}
            </div>

        </div>

    </div>
</section>

<footer class ="footer">
    <hr id = "footer_hr">
    <div class = "footer_text">
        <ul class="footer_list">
            <li ><a href="javascript:popout()">이용 방법</a></li>
            <li>|</li>
            <li><a href = "javascript:click()">문의 및 건의</li>
        </ul>
        <p class = "copy">© 2022 멋사강원대</p>
    </div>
</footer>

<script>
    
    function click(){ alert('문의 및 건의는 knucal1234@gmail.com으로 연락주세요');}

    function popout() {
        var url = "{% url 'method' %}";
        var name = "method"
        var css = "width = 500, height = 600, top = 10, left = 10"
        window.open(url,name,css )
    }
</script>
{% endblock %}