{% load static %}
<!--이미지 출처 남기기-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초기화면 페이지</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
</head>
<body><!--본문-->   
    <section class = "main">
        <div class = "main_wrapper">
                <h1 class = "write_1"> 똑똑한 졸업 도우미,<br>당신의 졸업을 응원합니다</h1>
                <h3 class = write_3>졸업요건<br>계산기</h3>

                <form class = "log" method="POST" action="">
                    {% csrf_token %}
                    <input type='text' placeholder="ID" name="username"/><br>
                    <input  type='password' placeholder="Password" name="password"/><br>
                    <button type ="submit">로그인</button>
                </form>

                <!--어디에 아이디나 비밀번호 틀렸다고 뜨는거야?-->
                <nav class = "nomember_input">
                    <ul>
                        <li><a href="{% url 'signup' %}">회원가입</a></li>
                        <li style="color : #a8aabc">|</li>
                        <li><a href="#">비회원 이용</a></li>
                    </ul>
                </nav>
        </div>
    </section>

    <section class = "introduce">
        <div class = "introduce_wrapper">
            <h2 class = "int_qus">졸업 가능 여부<br>궁금하세요?</h2>
            <hr class = "line">
            <h4 class = "int_ans"> 입력하고 클릭하면 끝,<br>졸업 가능 여부를<br>빠르게 계산해드려요</h4>
            <h2 class = "int_qus2">어떤 수업을 들을지<br>모르겠나요?</h2>
            <hr class = "line">
            <h4 class = "int_ans2">부족한 과목명과 학점이<br>얼마인지 상세히<br>확인해 알려드려요</h4>
        </div>
    </section>
</body>
</html>