{% extends 'base.html' %}
{% load static %}

{% block headcontent %}
<head>
    <meta charset="utf-8">
    <title>정보수정</title>
    <link rel="stylesheet" href="{% static 'css/modify.css' %}" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        @import url("{% static 'css/footer.css' %}");
    </style>
</head>
{% endblock %}

{% block content %}
<div id="wrapper">
    <div id="content">
        <div class="mod_size">
            <label id="mod_tit">정보수정</label>
        </div>

        <form class="modify_inputs" action="{% url 'modify_userinfo' %}" method="POST">
            {% csrf_token %}
            {% for pro in user.profile_set.all %}
            <div class="modify_input">
                <input type="text" name="name" placeholder="{{ pro.name }}" class="modify_in"/><br>
                <input type="text" name="major" placeholder="{{ pro.major }}" class="modify_in"/><br>
                <input type="text" name="admisson_year" placeholder="{{ pro.ad_year }}" class="modify_in"/>
            </div>
            {% endfor %}
            <button type="submit" class="button_click">변경하기</button>
        </form>


        <form class="modify_inputs" action="{% url 'modify_password' %}" method="POST">
            {% csrf_token %}
            <div class="modify_input">
                <input type="password" name="curr_password" placeholder="현재 비밀번호" class="modify_in"/><br>
                <input type="password" name="new_password" placeholder="새 비밀번호(문자, 숫자 포함 8~20자)" class="modify_in"/><br>
                <input type="password" name="repeat_password" placeholder="비밀번호 재입력" class="modify_in"/><br>
            </div>
            <div>
            {% if messages %}
            {% for message in messages %}
            {{ message.message }}
            {% endfor %}
            {% endif %}
            </div>
            <button type="submit" class="button_click">변경하기</button>
        </form>
    </div>
</div>

<footer class="footer">
    <hr id="footer_hr">
    <div class="footer_text">
        <ul class="footer_list">
            <li><a href="#">문의</a></li>
            <li>|</li>
            <li><a href="#">사이트 도움말</a></li>
            <li>|</li>
            <li><a href="#">건의</a></li>
        </ul>
        <p class="copy">© 2022 멋사강원대</p>
    </div>
</footer>
{% endblock %}