{% extends 'footer.html' %}
{% load static %}

{% block content %}

<head>
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>
    <div id="content" style="margin-top : 100px">
        <h3>
            <label>회원가입</label>
        </h3>

        <form id="f_input" , method="POST">
            {% csrf_token %}
            <div id="box_id">
                <input class="id" type="text" name="username" placeholder="아이디 입력(6~20자)" size=1px />
                <!-- <button class="check" type="submit">중복 확인</button><br> -->
            </div>

            <div class="small_info">

            </div>
            <br>
            <input type="password" name="password1" placeholder="비밀번호 입력(문자, 숫자 포함 8~20자)" /> <br>
            <input type="password" name="password2" placeholder="비밀번호 재입력" />

            <!-- JOIN BTN-->
            <div class="btn_area">
                <button type="submit">다음 단계로</button>
                <!-- onclick="location.href='info_enter.html'" -->
            </div>

            <div>
                {% if messages %}
                {% for message in messages %}
                {{ message.tags }}
                {{ message.message }}
                {% endfor %}
                {% endif %}
            </div>

        </form>

        <br><br>
        <div class="text-center">
            <a class="small" href="{% url 'login' %}">계정이 있다면? 로그인</a>
        </div>
    </div>
</body>
{% endblock %}