{% extends 'base.html' %}
{% load static %}

{% block headcontent %}
<head>
    <meta charset="utf-8">
    <title>정보입력</title>
    <link rel="stylesheet" href="{% static 'css/register_detail.css' %}" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        @import url("{% static 'css/footer.css' %}");
    </style>
</head>
{% endblock %}

{% block content %}
<div id="wrapper">
    <div id="content">
        <div class="inform_size">
            <label id="inform_tit">회원정보 입력</label>
        </div>
        <form class="inform_form" method="POST">
            <div class="inform_puts">
                {% csrf_token %}
                <input type="text" name="name" placeholder="이름" class="inform_put" /><br>
                <input type="text" name="major" placeholder="학과" class="inform_put" /><br>
                <input type="number" name="ad_year" placeholder="입학년도" class="inform_put" />
            </div>
            <button type="submit" id="button_final">가입하기</button>
        </form>
    </div>
</div>

<footer class="footer">
    <hr id="footer_hr">
    <div class="footer_text">
        <ul class="footer_list">
            <li><a href="#">문의</a></li>
            <li>|</li>
            <li><a href="#">사이트 도움말</a></li>
            <li>|</li>
            <li><a href="#">건의</a></li>
        </ul>
        <p class="copy">© 2022 멋사강원대</p>
    </div>
</footer>
{% endblock %}