{% extends 'base.html' %}
{% load static %}

{% block headcontent %}

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        @import url("{% static 'css/footer.css' %}");
    </style>
</head>
{% endblock %}

{% block content %}
<div id="wrapper">
    <div id="content">
        <div class="signup_size">
            <label id="signup_tit">회원가입</label>
        </div>
        <form class="signup_form" method="POST">
            {% csrf_token %}
            <div class="box_id">
                <input class="id" type="text" name="username" placeholder="아이디 (6~20자)" size=1px/ id="signup_id">
            </div>

            <div class="signup_passs">
                <input type="password" name="password1" placeholder="비밀번호 (문자,숫자로 8~20자)" class="signup_pass" /> <br>
                <input type="password" name="password2" placeholder="비밀번호 재확인" class="signup_pass" />
                <div id="signup_alr_pss">
                    
                </div>
                <p id="message" style="    display: inline-block;
                padding: 0.7em 0.2em 0 0.1em;
                white-space: nowrap;
                font-size: 0.9rem;
                color : red;
                font-family: 'GmarketSansMedium';
            ">
                    {% if messages %}
                    {% for message in messages %}
                    {{ message.message }}
                    {% endfor %}
                    {% endif %}
                </p>
            </div>
            <button type="submit" id="button_next" style="margin-bottom: 1em;">다음 단계로</button>
        </form>
        
        <div class="text-center" style="margin-bottom: 2px">
            <a id="small" href="{% url 'login' %}" style="    padding: 0.7em 0.2em 0 0.1em;
            font-size: 0.9rem;
            color : #A8AABc;
            font-family: 'GmarketSansMedium';">계정이 있다면? 로그인</a>
        </div>
    </div>
</div>

<footer class="footer">
    <hr id="footer_hr">
    <div class="footer_text">
        <ul class="footer_list">
            <li><a href="javascript:popout()">이용 방법</a></li>
            <li>|</li>
            <li><a href="javascript:click()">문의 및 건의</li>
        </ul>
        <p class="copy">© 2022 멋사강원대</p>
    </div>
</footer>

<script>

    function click() { alert('문의 및 건의는 calculator1234@gmail.com으로 연락주세요'); }

    function popout() {
        var url = "{% url 'method' %}";
        var name = "method"
        var css = "width = 500, height = 600, top = 10, left = 10"
        window.open(url, name, css)
    }
</script>
{% endblock %}