/**전체 설정**/
@import "reset.css";
/**완료 _ 전체 설정**/


#inform_tit {
    font-family: 'GmarketSansMedium';
    font-weight: bolder;
    font-size: 3rem;
    font-weight: 1000;
    letter-spacing: 2px;
}

.inform_size::after {
    content: '';
    background-color: #1E51A2;
    display: block;
    height: 0.3em;
    width: 155px;
    margin: 8px auto;
    
}

.inform_form {
    margin-top : 3em;
}



::placeholder {
    font-family: 'GmarketSansMedium';
}


.inform_puts {
    margin: 0.5em 0;
}


.inform_put {
    border-radius : 1em;
    border: 0.1rem solid #A8AABc;
    width: 100%;
    max-width: 17em;
    height: 3.5em;
    margin-top: 0.4em;
    padding: 1em;
}


#button_final{
    margin-top: 1em;
    font-family: 'GmarketSansMedium';
    background-color : #1E51A2;
    color: white;
    border: 0;
    border-radius: 3.2%;
    width: 220px;
    height: 50px;
    font-size: 1.2rem;
}

#button_final:hover {
    cursor: pointer;
    background-color: #113a7d;
}
