/**전체 설정**/
@import "reset.css";
/**완료 _ 전체 설정**/

/**첫 section 전체설정**/
.main_wrapper {
    padding: 4.8em 0;
    text-align: center;
}

/**제목과 설명**/
.write_1 {
    font-family: 'GmarketSansMedium';
    font-size: 1.5rem;
    color : #747687;
    line-height: 1.4em;
}


.write_3 {
    margin:0.6em 0;
    font-family: 'GmarketSansMedium';
    font-weight: bolder;
    font-size: 4rem;
    line-height: 1.2em;
}


/**로그인 기능**/

input[type="text"]::placeholder, input[type="password"]::placeholder {
    font-family: 'GmarketSansMedium';
}

input[type="text"], input[type="password"] {
    border-radius : 15px;
    border: 0.1rem solid #A8AABc;
    width: 100%;
    max-width: 17em;
    height: 3.5em;
    margin-top: 0.4em;
}


button {
    font-family: 'GmarketSansMedium';
    background-color : #1E51A2;
    color: white;
    border: 0;
    border-radius: 3.2%;
    width: 100%;
    max-width: 12.5em;
    height: 2.5em;
    margin-top: 0.9em;
    font-size: 1.1rem;
}


/**회원가입, 비회원 이용**/
.main li {
    display: inline-block;
    padding: 0.7em 0.2em 0 0.1em;
    white-space: nowrap;
    font-size: 0.9rem;
    color : #A8AABc;
    font-family: 'GmarketSansMedium';
}

.nomember_input {
    text-align: center;
    margin-top: 0.8em;
}


/**새로운 secotion 전체설정**/
.introduce_wrapper {
    background-color: #1E51A2;
    margin-top: 1.3em;
    padding : 5.2em 0 ;
}

/**질문과 답**/
.int_qus {
    font-family: 'GmarketSansMedium';
    color : white;
    font-weight: bolder;
    text-align: left;
    font-size: 2.7rem;
    display: inline-block;
    margin-left: 7em;
    line-height: 1.3em;

}

.int_ans {
    font-family: 'GmarketSansMedium';
    color : white;
    text-align: right;
    font-size: 2em;
    margin-right: 8em;
    
}

.int_qus2 {
    font-family: 'GmarketSansMedium';
    color : white;
    font-weight: bolder;
    text-align: left;
    font-size: 2.7rem;
    display: inline-block;
    margin-left: 7em;
    margin-top: 3em;
}
.int_ans2 {
    font-family: 'GmarketSansMedium';
    color : white;
    text-align: right;
    font-size: 2em;
    margin-right: 8em;
}

/**밑줄 설정**/
.line {
    width: 20%;
    background-color: #ffffff;
    height: 0.1em;
    border: 0;
    margin-left : 0;
}

@media screen and (max-width : 768px) {
    .int_qus {
        font-size: 1.5em;
        margin-left: 2.8em;
    }

    .int_ans{
        font-size: 1.2em;
        margin-right: 2.3em;
    }

    .int_qus2 {
        font-size: 1.5em;
        margin-left: 2.8em;
    }

    .int_ans2{
        font-size: 1.2em;
        margin-right: 2.3em;
    }
}